.GEvalItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* badge 이미지 & 이름*/
.GEvalItem > img {
    width: 111px;
    height: 111px;
    margin-top: 40px;
    border-radius: 50%;
    border: 6px solid rgb(164, 235, 217);
}

.GEvalItem .name_text {
    margin-top: 11px;
    font-size: 24px;
}

/* 청소완료 개수 */
.GEvalItem .done_section {
    width: 133px;
    height: 42px;
    border-radius: 100px;
    margin-top: 11px;

    background-color: #e2fdef;

    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.GEvalItem .done_text {
    font-size: 12px;
}

.GEvalItem .done_count {
    font-size: 24px;
    font-family: bold;
    color: #1ac2a9;
    margin-bottom: 2px;
}

/* 청소 유형 평가 */
.GEvalItem .cleanPersonality_section {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

.GEvalItem .cleanPersonality_section .cleanPersonality_type {
    font-size: 16px;
    font-family: bold;
}

.GEvalItem .cleanPersonality_section .cleanPersonality_dis {
    font-size: 14px;
}

.GEvalItem .rating {
    margin-top: 25px;
}
