/* 개인별 평가 정보 */
.GInfoItem {
    width: 214px;
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* 왼쪽부분 */
.GInfoItem .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.GInfoItem .left .Badge_img {
    width: 60px;
    height: 60px;
}

.GInfoItem .left .name {
    text-align: center;
}

/* 오른쪽부분 */
.GInfoItem .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 11px;
}

.GInfoItem .right .Button_list {
    width: 131px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 6px #cecdcd;
    background-color: white;
}
