.GroupEval {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 상단 제목 및 날짜 */
.GroupEval > h3 {
    margin-top: 59px;
    font-size: 28px;
    font-weight: bold;
}

.GroupEval .date {
    margin-top: 3px;
    font-size: 21px;
    color: #787878;
}

/* 하단에 평가하는 부분 */
.GroupEval .eval_section {
    display: flex;
    gap: 40px;

    margin-top: 50px;
}

/* 자기 평가 */
.GroupEval .me {
    width: 335px;
    height: 502px;
    background-color: white;
    border-radius: 20px;
}

.GroupEval .me > h3 {
    font-size: 22px;
    font-family: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}

/* 그룹원 평가 */
.GroupEval .other {
    width: 925px;
    height: 502px;
    background-color: white;
    border-radius: 20px;
}

.GroupEval .other > h3 {
    font-size: 22px;
    font-family: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}

.GroupEval .other .otherItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

/* 저장 버튼 */
.GroupEval .Button_save {
    width: 124px;
    height: 58px;
    border-radius: 15px;
    color: white;

    margin: 30px 0px 20px 1174px;
    font-size: 28px;
    font-family: bold;
    text-align: center;
    line-height: 0.5px;
}
