.GroupHome {
    margin: clamp(35.69px, 2.78vw, 40px) clamp(62.47px, 4.86vw, 70px);
    background-color: rgb(245, 245, 245);
}

/* 상단 부분*/
.GroupHome .groupName {
    display: flex;
    gap: clamp(8.92px, 0.69vw, 10px);
    justify-content: center;
    align-items: center;
    margin-bottom: clamp(31.23px, 2.43vw, 35px);
}

.GroupHome h3 {
    font-size: clamp(28.56px, 2.22vw, 32px);
    font-weight: bold;
}

.GroupHome .groupName .pencil_img {
    width: clamp(26.77px, 2.08vw, 30px);
    height: clamp(26.77px, 2.08vw, 30px);
    margin-bottom: clamp(5.35px, 0.42vw, 6px);
}

.GroupHome .groupName .home_img {
    width: clamp(31.23px, 2.43vw, 35px);
    height: clamp(24.09px, 1.88vw, 27px);
    margin-bottom: clamp(7.14px, 0.56vw, 8px);
}

/* 하단 부분 */
.GroupHome .groupHomeUnder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(35.69px, 2.78vw, 40px);
}

/* 공간 구조도 */
.GroupHome .groupSpace {
    height: clamp(621.08px, 48.33vw, 696px);
    aspect-ratio: 1 / 1; /*원래는 width기준이었는데, 1/1하면 height가 줄어들어서 -> height 기준으로 width 맞추는거로 바꿈 (height가 크기를 유지하는게 중요해서)*/
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: clamp(13.39px, 1.04vw, 15px);
    margin-bottom: clamp(35.69px, 2.78vw, 40px);
    box-shadow: 0 2px 8px #d9d9d9;
}

/* 그룹 규칙 & 평가 */
.GroupHome .groupHomeRE {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(26.77px, 2.08vw, 30px);
    margin-bottom: clamp(35.69px, 2.78vw, 40px);
}

/* 그룹 규칙 */
.GroupHome .groupRule {
    width: clamp(503.29px, 39.17vw, 564px);
    height: clamp(235.58px, 18.33vw, 264px);
    background-color: white;
    border-radius: clamp(17.85px, 1.39vw, 20px);
    padding: clamp(35.69px, 2.78vw, 40px) clamp(49.08px, 3.82vw, 55px);
    box-shadow: 0 2px 8px #d9d9d9;
}

.GroupHome .groupRule > h3 {
    text-align: center;
    font-size: clamp(20.52px, 1.6vw, 23px);
    font-weight: bold;
    margin-bottom: clamp(26.77px, 2.08vw, 30px);
}

.GroupHome .groupRule .ruleContent {
    font-size: clamp(15.17px, 1.18vw, 17px);
    white-space: pre-line;
    line-height: clamp(39.26px, 3.06vw, 44px);
}

/* 그룹 평가 */
.GroupHome .groupEval {
    width: clamp(503.29px, 39.17vw, 564px);
    height: clamp(358.73px, 27.92vw, 402px);
    background-color: white;
    border-radius: clamp(17.85px, 1.39vw, 20px);
    padding: clamp(35.69px, 2.78vw, 40px);
    position: relative;
    box-shadow: 0 2px 8px #d9d9d9;
}

.GroupHome .groupEval > h3 {
    text-align: center;
    font-size: clamp(20.52px, 1.6vw, 23px);
    font-weight: bold;
    margin-bottom: clamp(49.08px, 3.82vw, 55px);
}

.GroupHome .Button_eval {
    position: absolute;
    top: clamp(13.39px, 1.04vw, 15px);
    right: clamp(13.39px, 1.04vw, 15px);
    width: clamp(116.01px, 9.03vw, 130px);
    height: clamp(35.69px, 2.78vw, 40px);
    border-radius: clamp(13.39px, 1.04vw, 15px);
    color: white;
    font-size: clamp(13.39px, 1.04vw, 15px);
    font-weight: bold;
}
.GroupHome .Button_eval:hover {
    background-color: #74d3a4;
}

.GroupHome .GInfoItems {
    width: clamp(424.76px, 33.06vw, 476px);
    height: clamp(206.14px, 16.04vw, 231px);
    display: flex;
    flex-direction: column;
    gap: clamp(61.57px, 4.79vw, 69px);
}

.GroupHome .EvalRow1,
.GroupHome .EvalRow2 {
    display: flex;
    gap: clamp(42.83px, 3.33vw, 48px);
}
