.TList h3 {
    font-size: min(24px, 1.67vw); /* 24px */
    text-align: center;
    padding-top: min(43px, 3vw); /* 반응형 간격 */
    padding-bottom: min(1.8vw, 25.92px);
    margin-bottom: 0;
    font-weight: bold;
}

.TList .profile {
    text-align: center;
    margin-bottom: min(2.1vw, 30.24px);
}

.TList .profile > img {
    width: min(4.89vw, 4.4rem);
    height: min(4.89vw, 4.4rem);
    border-radius: 50%;
    border: 0.3rem solid rgb(164, 235, 217);
}

.TList .title {
    display: flex;
    margin-left: min(0.3vw, 4.32px);
    margin-bottom: min(0.4vw, 5.76px);
    font-size: min(1.1vw, 15.84px);
    color: rgb(103, 103, 103);

    font-style: normal;
    font-weight: normal;
    font-family: sans-serif, "Noto Sans KR";
}

.TList .place_text {
    margin-left: min(4.85vw, 72px); /*3.6vw; */
}

.TList .toclean_text {
    margin-left: min(3.1vw, 44.64px);
}

.TList .deadLine_text {
    margin-left: min(7.8vw, 112.32px);
}

.TList .scrollBar {
    height: min(528.1px, 36.6vw);
    width: min(475px, 33vw);
    overflow-y: auto;
}

.scrollBar::-webkit-scrollbar {
    width: min(7px, 0.5vw);
}

.scrollBar::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 20px;
}

.scrollBar::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 20px;
}
