/* 폰트 크기 */
@font-face {
    font-family: "NotoSansKR-Bold";
    src: url("/fonts/NotoSansKR-Bold.ttf") format("truetype");
    font-weight: "bold";
    font-style: "normal";

    font-family: "NotoSansKR-Regular";
    src: url("/fonts/NotoSansKR-Regular.ttf") format("truetype");
    font-weight: "normal";
    font-style: "normal";
}

.GListAddModal .selectedPlace {
    background-color: #c1f4d4;
    width: 108.72px;
    height: 38.59px;
    border-radius: 70.27px;
    margin-bottom: 28.8px;

    font-size: 21.17px;
    font-weight: bold;
    line-height: 38.59px;
    text-align: center;
}

.GListAddModal .createToClean {
    display: flex;
    flex-direction: column;
    gap: 12.1px;
    margin-bottom: 23.76px;
}

.GListAddModal .toClean_text {
    font-size: 15.98px;
    text-align: center;
}

.GListAddModal .createToClean > textarea {
    background-color: #f5f5f5;
    border: none;
    border-radius: 16.7px;

    width: 396.86px;
    height: 42.19px;

    resize: none;
    overflow: hidden;

    font-size: 16.85px;
    line-height: 38.59px;
    text-align: center;
}

.GListAddModal .createToClean > textarea:focus {
    border: 1.5px solid #aee9d1;
    outline: none;
    box-shadow: 0 0 0 1px #aee9d1;
}

.GListAddModal .createDeadLine {
    display: flex;
    flex-direction: column;
    gap: 12.1px;
}

.GListAddModal .date {
    width: 144px;
    height: 36px;
}

.GListAddModal .deadLine_text {
    font-size: 15.98px;
    text-align: center;
    margin-left: 0;
}

.GListAddModal .DatePicker {
    width: 157.1px;
    height: 43.2px;
    border: none;
    border-radius: 16.7px;
    background-color: #f5f5f5;
    margin-bottom: 20.59px;

    text-align: center;
    font-size: 16.99px;
    line-height: 43.2px;
}

.GListAddModal .DatePicker:focus {
    border: 1.5px solid #aee9d1;
    outline: none;
    box-shadow: 0 0 0 1px #aee9d1;
}

.GListAddModal .selectPerson {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 23.76px;
}

.GListAddModal .personTodo_text {
    font-size: 15.98px;
    text-align: center;
}

.GListAddModal .selectPerson .personTodo {
    display: flex;
    gap: 18px;
    justify-content: center;
}

.GListAddModal .hover_button,
.hover_active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8.35px;

    width: 72.5px;
    height: 102px;

    background-color: transparent;
    border: none;
}

.GListAddModal .hover_button:hover {
    background-color: #8be2b6;
    border-radius: 40px;
}

.GListAddModal .hover_active {
    background-color: #8be2b6;
    border-radius: 40px;
}

.GListAddModal .selectPerson .personTodo .BadgeTodo {
    width: 60.05px;
    height: 60.05px;
}

.GListAddModal .selectPerson .personTodo .nameTodo {
    font-size: 15.98px;
    text-align: center;
}

.GListAddModal .Button_save {
    margin-left: 306px;
    margin-bottom: 0;

    width: 96.62px;
    height: 38.59px;
    border-radius: 16.7px;

    font-size: 19.73px;
    color: white;
    font-weight: bold;
    line-height: 38.59px;
}
