.GListItem {
    display: flex;
    align-items: center;
    gap: clamp(22.06px, 1.63vw, 28px);
    width: clamp(327.98px, 23.23vw, 416.8px);
    height: clamp(62.15px, 4.59vw, 79px);
    border-radius: 15px;
    background-color: rgb(248, 248, 248);
    margin-left: clamp(33.88px, 2.5vw, 43px);
    margin-bottom: clamp(7.01px, 0.53vw, 9px);
    padding-left: clamp(9.28px, 0.7vw, 12px);
    position: relative;
}

.GListItem .Badge {
    margin-right: clamp(15.61px, 1.14vw, 20px);
    width: clamp(39px, 2.85vw, 50px);
    height: clamp(39px, 2.85vw, 50px);
}

.GListItem .toClean {
    font-size: clamp(16.05px, 1.17vw, 1rem);
    max-width: clamp(70.06px, 5.23vw, 90px);
}

.GListItem .deadLine {
    font-size: clamp(16.05px, 1.17vw, 1rem);
    position: absolute;
    left: clamp(218.84px, 15.95vw, 280px);
    max-width: clamp(46.87px, 3.42vw, 60px);
}

.GListItem .Button_done {
    width: clamp(39px, 2.85vw, 50px);
    height: clamp(22.61px, 1.65vw, 29px);
    border-radius: 10px;
    position: absolute;
    right: clamp(11.03px, 0.81vw, 14px);
    font-size: clamp(12.17px, 0.88vw, 0.78rem);
    color: white;
}

.GListItem .Button_delete {
    width: clamp(39px, 2.85vw, 50px);
    height: clamp(22.61px, 1.65vw, 29px);
    border-radius: clamp(7.88px, 0.58vw, 10px);
    position: absolute;
    right: clamp(7.86px, 0.57vw, 10px);
    color: rgb(103, 103, 103);
    background-color: transparent;

    font-size: clamp(17.33px, 1.28vw, 22px);
    font-weight: bold;
}
