.NCleanItem {
  width: clamp(149.59px, 11.04vw, 189.89px); /* 1720px × 11.04% = 약 189.89px */
  height: clamp(101.62px, 7.5vw, 129px); /* 1720px × 7.5% = 약 129px */
  background-color: #e2fdef;
  border-radius: clamp(
    14.09px,
    1.04vw,
    17.89px
  ); /* 1720px × 1.04% = 약 17.89px */
  position: relative;
}

.NCleanItem .rankName {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(11.82px, 0.87vw, 15px);
  margin-top: clamp(19.69px, 1.45vw, 25px);
}

.NCleanItem .rank {
  width: clamp(28.19px, 2.08vw, 35.78px); /* 1720 × 2.08% ≈ 35.78px */
  height: clamp(28.19px, 2.08vw, 35.78px);
  border-radius: 100%;
  background-color: #8be2b6;

  color: white;
  text-align: center;
  line-height: clamp(25.48px, 1.88vw, 32.34px); /* 1720 × 1.88% ≈ 32.34px */
  font-size: clamp(16.94px, 1.25vw, 21.5px); /* 1720 × 1.25% ≈ 21.5px */

  /* position: absolute;
    left: clamp(13.39px, 1.04vw, 17.89px);
    top: clamp(17.85px, 1.39vw, 23.9px); */
}

.NCleanItem .place {
  font-size: clamp(14.18px, 1.05vw, 18px);
  /* position: absolute;
    right: clamp(16.06px, 1.25vw, 21.5px);
    top: clamp(21.42px, 1.67vw, 28.72px); */
}

.NCleanItem .cnt {
  font-size: clamp(22.63px, 1.67vw, 28.72px);
  font-weight: bold;
  color: #1ac2a9;

  position: absolute;
  left: clamp(59.35px, 4.38vw, 75.34px); /* 1720 × 4.38% ≈ 75.34px */
  bottom: clamp(12.2px, 0.9vw, 15.48px); /* 1720 × 0.9% ≈ 15.48px */

  display: flex;
}

.NCleanItem .cnt .unit {
  font-size: clamp(12.2px, 0.9vw, 15.48px);
  color: black;
  font-weight: normal;

  margin-top: clamp(11.03px, 0.81vw, 14px);
  margin-left: clamp(2.36px, 0.17vw, 3px);
}
