.NeedClean {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NeedClean > h3 {
    font-size: clamp(19.63px, 1.53vw, 22px);
    font-weight: bold;
    margin: clamp(22.31px, 1.74vw, 25px);
}

.NeedClean .NCleanItem_wrapper {
    display: flex;
    gap: clamp(33.02px, 2.57vw, 37px);
}
