/* src/components/ChatBot/ChatWidget.css */
.chat-widget {
  position: fixed;
  top: calc(40px + (100vh - 60px - 660px) / 2);
  right: 40px;
  width: 330px;
  height: 640px;
  background: white;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: sans-serif;
  z-index: 1000;
  padding: 0px 5px 0px 5px;
}

.chat-header {
  padding: 12px 12px;
  background: #ffffff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;  /* 텍스트 중앙 */
  border-bottom: 1px solid #ddd;
  font-size: 17px;
  font-weight: 500;
  position: relative;  /* absolute 기준 */
}

.chat-bot-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  border-top: 1px solid #dddddd4d;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin: 10px 0 15px 0px;
}

.chat-bot-profile img {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  object-fit: cover;
}

.chat-header .close-btn {
  position: absolute;
  right: 12px; /* 오른쪽 끝 */
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.chat-body {
  flex: 1;
  padding: 0px 10px 0px 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow-y: auto;
  background: #ffffff;
}

/* Scrollbar width */
.chat-body::-webkit-scrollbar {
  width: min(7px, 0.5vw);
}

/* Scrollbar thumb */
.chat-body::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 20px;
}

/* Scrollbar track */
.chat-body::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 20px;
}

.chat-message {
  margin-bottom: 12px;
  padding: 10px 15px;
  border-radius: 12px;
  line-height: 1.4;
  word-break: break-word;
  width: fit-content;  
  max-width: 80%;  
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.chat-message.user {
  margin-left: auto;
  background: #F5F5F5;
  color: #000000;
  border-bottom-right-radius: 4px;
  font-size : 14px;
  font-weight : 400;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.chat-message.bot {
  margin-right: auto;
  background: #E2FDEF;
  color: #000000;
  border-bottom-left-radius: 4px;
  font-size : 14px;
  font-weight : 400;
}

.chat-input .input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 10px 15px 10px; 
}
.chat-input .input-wrapper input {
  flex: 1;
  padding: 10px 40px 10px 20px;  /* 오른쪽 아이콘 공간 확보 */
  outline: none;
  border: 1px solid #ddd;
  border-radius : 30px;
  font-size : 14px;
  font-weight : 400;
}

.chat-input .input-wrapper .input-icon {
  position: absolute;
  right: 12px;
  width: 25px;
  height: 24px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity .2s;
  margin-right : 15px;
}
.chat-input .input-wrapper .input-icon:hover {
  opacity: 1;
}

