/* src/components/ChatToggle.css */
.chat-toggle {
  position: fixed;
  top: 75px;     
  right: 0px;         /* 화면 맨 오른쪽에서 16px */
  width: 55px;         /* 작게 */
  height: 45px;
  border-radius: 50% 0% 0% 50% ;
  background: #8BE2B6;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;        /* 최상단에 뜨도록 */
}
.chat-toggle img {
  width: 60%;
  height: 60%;
}
