.grid-wrapper .place_block {
    cursor: pointer;
    background-color: #d9d9d9;
}

.grid-wrapper .place_block_active {
    background-color: #83ebb7;
}

/* .grid-wrapper .place_block:hover {
    background-color: #83ebb7;
} */

/* 그리드 패널 */

.CreatedSpace .grid-panel {
    height: clamp(572px, 44.51vw, 765.64px);
    width: clamp(572px, 44.51vw, 765.64px);

    box-sizing: border-box;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px #d9d9d9;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CreatedSpace .grid-container {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CreatedSpace .grid {
    display: grid;
    border: none;
    width: 100%;
    height: 100%;
    background: #e9e9e9;
    border-radius: 15px;
    position: relative;
    z-index: 1;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 0.8px;
}

.CreatedSpace .grid-cell {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background: #ffffff;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
