/* checklist배치하기 위해 임시로 잡아둔 틀 */
.GroupSpace {
    height: max(803.12px, 62.5vw);
}

.GroupSpace .GroupSpaceContent {
    display: flex;
    gap: max(29.55px, 2.3vw);
}

.GroupSpace .sidebar {
    background-color: white;
    width: max(177.33px, 13.8vw);
}

.GroupSpace .middle {
    margin-top: max(48.19px, 3.75vw);
    margin-bottom: max(48.19px, 3.75vw);
}

/* GroupSpacePage.css */
.GroupSpace .mostCleanNeeded {
    background-color: white;
    width: max(565.4px, 44vw);
    height: max(183.5px, 14.3vw); /*21.3vh*/
    margin-bottom: max(22.5px, 2.5vh);
    border-radius: max(16px, 1.39vw);
}

.GroupSpace .space {
    background-color: rgb(255, 255, 255);
    width: max(565.4px, 44vw);
    aspect-ratio: 1/1;
    border-radius: max(4.46px, 0.35vw);
    padding: max(11.6px, 0.9vw);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
