/* checklist배치하기 위해 임시로 잡아둔 틀 */
.GroupSpace {
    height: max(803.12px, 62.5vw);
}

.GroupSpace .GroupSpaceContent {
    display: flex;
    /* gap: 130px; max(29.55px, 2.3vw); */
}

.GroupSpace .NClean_space_List {
    display: flex;
    gap: 70px; /*max(29.55px, 2.3vw)*/
    flex: 1; /*width 남은 부분 채우게 함, 가온데 정렬하게*/
    justify-content: center;
    margin-top: 48.19px; /* 3.75vw × 1440 = 54px */
    margin-bottom: max(48.19px, 3.75vw);
}

/* GroupSpacePage.css */
.GroupSpace .mostCleanNeeded {
    background-color: white;
    width: clamp(567.07px, 44.13vw, 759.03px);
    height: clamp(184.29px, 14.34vw, 246.67px); /* 14.3vw × 1440 = 205.92px */
    margin-bottom: 45px; /*max(22.5px, 2.5vh) vh는 그대로 */
    border-radius: 7px; /* max(16px, 1.39vw) */
}

.GroupSpace .Button_editSpace {
    color: white;
    font-size: max(14.28px, 1.11vw);
    font-weight: bold;

    width: clamp(89.43px, 6.96vw, 119.71px); /*max(89.24px, 6.94vw);*/
    height: clamp(26.95px, 2.1vw, 36.07px); /*max(26.77px, 2.08vw)*/
    margin-bottom: max(4.46px, 0.35vw);
    margin-left: clamp(480.98px, 37.43vw, 617px); /*539px*/
    border-radius: max(7.14px, 0.56vw);
}

.GroupSpace .space {
    background-color: rgb(255, 255, 255);
    height: clamp(567.07px, 44.13vw, 759.03px);
    aspect-ratio: 1/1;
    border-radius: max(4.46px, 0.35vw); /* 0.35vw × 1440 = 5.04px */
    padding: max(11.6px, 0.9vw); /* 0.9vw × 1440 = 12.96px */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
