.PListItem {
    display: flex;
    align-items: center;
    gap: clamp(16.06px, 1.25vw, 21.5px);
    width: clamp(329.5px, 24.3vw, 418.03px);
    height: clamp(61.09px, 4.52vw, 77.76px);
    border-radius: clamp(11.74px, 0.73vw, 15px);
    background-color: rgb(248, 248, 248);
    margin-left: clamp(33.89px, 2.5vw, 43.2px);
    margin-bottom: clamp(7.1px, 0.53vw, 9.07px);
    padding-left: clamp(9.37px, 0.69vw, 11.95px);
    position: relative;
}

.PListItem .place {
    font-size: clamp(15px, 0.93vw, 16px);
    margin-left: clamp(8.03px, 0.62vw, 10.75px);
    width: clamp(60.68px, 4.72vw, 81.22px);
}

.PListItem .toClean {
    font-size: clamp(15px, 0.93vw, 16px);
    width: clamp(102.62px, 7.99vw, 137.36px);
}

.PListItem .deadLine {
    font-size: clamp(15px, 0.93vw, 16px);
    position: absolute;
    left: clamp(217.34px, 15.91vw, 280.8px);
    max-width: clamp(46.77px, 3.52vw, 60.48px);
}

.PListItem .Button_done {
    width: clamp(38.83px, 2.9vw, 49.97px);
    height: clamp(22.61px, 1.67vw, 28.8px);
    border-radius: 10px;
    position: absolute;
    right: clamp(11.05px, 0.84vw, 14.4px);
    color: white;

    font-size: clamp(9.83px, 0.73vw, 12.48px);
    font-weight: bold;
}

.PListItem .Button_delete2 {
    width: clamp(38.83px, 2.9vw, 49.97px);
    height: clamp(22.61px, 1.67vw, 28.8px);
    border-radius: 10px;
    background-color: transparent;
    margin-bottom: clamp(4.19px, 0.33vw, 5.61px);

    position: absolute;
    right: clamp(7.84px, 0.59vw, 10.08px);

    font-size: clamp(16.42px, 1.26vw, 21.6px);
    color: rgb(103, 103, 103);
}
