/* 폰트 크기 */
@font-face {
  font-family: "NotoSansKR-Bold";
  src: url("/fonts/NotoSansKR-Bold.ttf") format("truetype");
  font-weight: "bold";
  font-style: "normal";

  font-family: "NotoSansKR-Regular";
  src: url("/fonts/NotoSansKR-Regular.ttf") format("truetype");
  font-weight: "normal";
  font-style: "normal";
}

/* 장소 */
.PListAddModal .selectedPlace {
  background-color: #c1f4d4;
  width: clamp(111.79px, 8.7vw, 125.28px);
  height: clamp(38.55px, 3vw, 43.2px);
  border-radius: clamp(71.39px, 5.56vw, 80px);
  margin-bottom: clamp(35.6px, 2.77vw, 39.89px);

  font-size: clamp(21.84px, 1.7vw, 24.48px);
  font-weight: bold;
  line-height: clamp(38.55px, 3vw, 43.2px);
  text-align: center;
}

/* 장소 dropdown */
.PListAddModal .place_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(8.99px, 0.7vw, 10.08px);
}
.PListAddModal .place_text {
  margin-left: 0;
  font-weight: 549;
}

.w-100:focus {
  border: 1.5px solid #aee9d1;
  outline: none;
  box-shadow: 0 0 0 1px #aee9d1;
}

/* 할 일(to-clean) */
.PListAddModal .createToClean {
  display: flex;
  flex-direction: column;
  gap: clamp(8.99px, 0.7vw, 10.08px);
  margin-bottom: clamp(25.7px, 2vw, 28.8px);
}

.PListAddModal .toClean_text {
  font-weight: 549;
  font-size: clamp(14.28px, 1.11vw, 16px); /* 1rem ≈ 1.11vw */
  text-align: center;
}

.PListAddModal .createToClean > textarea {
  background-color: #f5f5f5;
  border: none;
  border-radius: clamp(13.39px, 1.04vw, 15px);

  width: clamp(411.2px, 32vw, 460.8px);
  height: clamp(44.98px, 3.5vw, 50.4px);
  padding-left: clamp(20.56px, 1.6vw, 23.04px);
  padding-right: clamp(20.56px, 1.6vw, 23.04px);
  margin-bottom: 0vw;

  resize: none;
  overflow: hidden;

  font-size: clamp(17.13px, 1.33vw, 19.2px); /* 1.2rem ≈ 1.33vw */
  line-height: clamp(41.12px, 3.2vw, 46.08px);
  text-align: center;
}

.PListAddModal .createToClean > textarea:focus {
  border: 1.5px solid #aee9d1;
  outline: none;
  box-shadow: 0 0 0 1px #aee9d1;
}

/* 마감 기한 */
.PListAddModal .createDeadLine {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(7.71px, 0.6vw, 8.64px);
}
.PListAddModal .date {
  width: clamp(154.2px, 12vw, 172.8px);
  height: clamp(38.55px, 3vw, 43.2px);
}

.PListAddModal .deadLine_text {
  font-weight: 549;
  font-size: clamp(14.28px, 1.11vw, 16px);
  text-align: center;
  margin-left: 0;
}

.PListAddModal .DatePicker {
  width: clamp(167.05px, 13vw, 187.2px);
  height: clamp(46.26px, 3.6vw, 51.84px);
  border: none;
  border-radius: 15px;
  background-color: #f5f5f5;
  margin-bottom: clamp(34.7px, 2.7vw, 38.88px);

  text-align: center;
  font-size: clamp(17.13px, 1.33vw, 19.2px);
  line-height: clamp(46.26px, 3.6vw, 51.84px);
}

.PListAddModal .DatePicker:focus {
  border: 1.5px solid #aee9d1;
  outline: none;
  box-shadow: 0 0 0 1px #aee9d1;
}

/* 저장 버튼 */
.PListAddModal .Button_save {
  margin-left: clamp(301.97px, 23.5vw, 338.4px);
  margin-bottom: clamp(16.7px, 1.3vw, 18.72px);
  margin-top: clamp(3.85px, 0.3vw, 4.32px);

  width: clamp(104.08px, 8.1vw, 116.64px);
  height: clamp(42.83px, 3.33vw, 48px); /* px로 이미 고정됨 */
  border-radius: 15px;

  font-size: clamp(19.99px, 1.56vw, 22.4px);
  color: white;
  font-weight: bold;
  line-height: clamp(41.12px, 3.2vw, 46.08px);
}
